:root {
  --nero: #252525;
  --dimGray: #666;
  --max-red: #300808;
  --snow: #fafafa;
  --Libre: "Libre Franklin", sans-serif;
  --Kaushan: "Kaushan Script";
  --transition: all 0.4s ease;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--Libre);
}

body {
  line-height: 1.5;
  font-size: 1.05rem;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}

/* setup &  resuable stylings */
a {
  color: #000;
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
li {
  list-style-type: none;
}
button {
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
.container {
  width: 94%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.3rem 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 0.3rem 0;
  line-height: 1.7;
}
.padding-y {
  padding: 6rem 0;
}
.title {
  padding: 1rem 0;
  text-align: center;
}
.title h2 {
  margin: 0 0.5rem;
  font-family: var(--Kaushan);
  letter-spacing: 2px;
}
.line {
  margin-top: 1.2rem;
}
.line div {
  width: 60px;
  height: 3px;
  background: var(--max-red);
  border-radius: 5px;
}
.line span {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: var(--max-red);
}
/* banner section */
.banner-item {
  height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
  color: #fff;
  display: none;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner-item:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/banner-1.png) center/cover no-repeat fixed;
}
.banner-item:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/banner3.png) center/cover no-repeat fixed;
}
.banner-item:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/banner-2.png) center/cover no-repeat fixed;
}
.banner-item h1 {
  font-size: 2.5rem;
  font-family: var(--Kaushan);
}
.banner-item .text {
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.9;
}
.banner-item button {
  background: transparent;
  color: #fff;
  letter-spacing: 2px;
  border: 3px solid #fff;
  padding: 0.85rem 1.85rem;
  margin-top: 1.75rem;
  transition: var(--transition);
}
.banner-item button:hover {
  background: #fff;
  color: var(--dimGray);
}
.active-banner {
  display: grid;
}

/* navbar */
.navbar {
  z-index: 999;
  background: #fff;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(209, 209, 209, 0.57);
  -moz-box-shadow: 0px 2px 6px 0px rgba(209, 209, 209, 0.57);
  box-shadow: 0px 2px 6px 0px rgba(209, 209, 209, 0.57);
}
.brand-and-toggler {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  border-bottom: 1.5px solid #f0f0f0;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 40px;
}
.navbar-brand h2 {
  padding-left: 0.4rem;
  color: var(--max-red);
  font-weight: 500;
}
#navbar-toggler {
  font-size: 1.65rem;
  padding: 0 0.3rem;
  background: none;
  border: none;
  color: var(--nero);
}
.navbar-nav {
  padding: 0.6rem 0;
}
.navbar-nav li {
  margin: 0.2rem 0;
  padding: 0.5rem 0;
}
.navbar-nav li a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--dimGray);
}
.navbar-nav li a:hover {
  color: var(--nero);
}
.navbar-collapse {
  display: none;
}

/* fixed navbar class */
.fxd-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* about */
.about-row > div {
  margin: 1.2rem 0;
}
.about-col-1,
.about-col-3 {
  display: none;
}

/* service */
.service {
  background-color: var(--snow);
}
.service-item {
  text-align: center;
  margin: 1.2rem 0;
  padding: 1.6rem 0;
}
.service-item span {
  font-size: 2.4rem;
}
.service-item h3 {
  font-weight: 400;
}

/* openings */
.openings {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/images/inside.png) center/cover no-repeat fixed;
  color: #fff;
  text-align: center;
  clip-path: ellipse(100% 55% at 48% 44%);
}
.openings-row .text {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.openings-row h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.openings-row ul {
  margin: 1rem 0;
}
.openings-row ul li {
  margin: 0.65rem 0;
  font-weight: 400;
}

/* menu */
.menu {
  background-color: var(--snow);
}
.menu-row {
  margin: 5rem 0;
}
.menu-item {
  margin: 0.6rem 0;
}

.menu-img {
  width: 100%;
  height: 200px;
}

.menu-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu-text {
  padding: 1rem 0;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dimGray);
}
.menu-text a {
  margin-top: 0.6rem;
  display: block;
  background: var(--max-red);
  width: 120px;
  text-align: center;
  padding: 0.45rem 0;
  color: #fff;
  font-weight: 600;
  transition: var(--transition);
}
.menu-text a:hover {
  background: var(--nero);
}

/* actual menu */
.menu-container {
  margin: 3rem 0;
  border: 2px solid var(--max-red);
  background-color: var(--snow);
}

.menu-group-description {
  text-align: center;
}

.menu-price {
  padding: 15px 0;
  font-size: smaller;
  font-weight: 500;
}

article {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* team */
.team {
  background: var(--Libre);
}
.team-row {
  margin: 2rem 0;
}
.team-item {
  margin-bottom: 1.5rem;
}

/* contact */
#map {
  height: 50vh;
}

.contact.padding-y {
  padding-bottom: 0;
}
.contact-map-col-2,
.contact-map-col-1 {
  padding: 3rem 3rem;
}

.delivery-img {
  cursor: pointer;
}

.contact-info {
  background: var(--max-red);
}

.contact-row-1 {
  margin-top: 6rem;
  text-align: center;
}

.contact-row-2 {
  margin-top: 6rem;
  color: #fff;
  text-align: center;
}
.contact-col-1,
.contact-col-2,
.contact-col-3,
.contact-col-4 {
  padding: 6rem 0;
}
.contact-col-1 ul li {
  padding: 0.2rem 0;
}
.contact-col-2 {
  padding-top: 0;
}
.contact-col-2 ul {
  margin-top: 0.5rem;
}
.contact-col-2 ul li {
  width: 40px;
  height: 40px;
  background: #fff;
  margin: 0 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}
.contact-col-2 ul a {
  color: var(--max-red);
  transition: var(--transition);
}
.contact-col-2 ul li:hover {
  background: var(--dimGray);
}
.contact-col-2 ul li:hover a {
  color: #fff;
}

.contact-link {
  color: var(--snow);
  cursor: pointer;
  transition: var(--transition);
}

.contact-link:hover {
  transition: var(--transition);
  color: var(--dimGray);
  text-decoration: underline;
  cursor: pointer;
}

/* footer */
footer {
  padding: 0.5rem 0;
  text-align: center;
}

/* #### Media Queries #### */

@media screen and (min-width: 480px) {
  /* banner */
  .banner-item h1 {
    font-size: 4rem;
  }
  .title h2 {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  /* menu */
  .menu-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  /* contact */
  .contact-row-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  /* service */
  .service-item p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  /* team */
  .team-item {
    margin-bottom: 0;
  }
  .team-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  /* contact */

  .contact-col-2 {
    padding-top: 6rem;
  }
  .contact-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-row-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 992px) {
  /* banner */
  .container {
    width: 90vw;
  }
  .banner-item h1 {
    font-size: 6rem;
  }
  /* navbar */
  .navbar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    flex: 1 0 auto;
    display: block !important;
  }
  .navbar-nav {
    display: flex !important;
    justify-content: flex-end;
  }
  .navbar-nav li {
    margin: 0 1.2rem;
    padding: 0;
  }
  /* services */
  .service-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .service-item p {
    width: 100%;
  }
  /* menu */
  .menu-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  /* banner */
  .container {
    width: 86%;
  }
  /* about */
  .about-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    column-gap: 2rem;
  }
  .about-col-1,
  .about-col-3 {
    display: block;
  }
  .about-row > div {
    margin: 0;
  }
  /* contact */
  .contact-col-2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
